/* ----- Buttons ----- */

.btn {
	@include pad-left-rgt($dist-l + $dist-m);
	@include pad-top-btm($dist-s + $dist-xs); }

.btn-default {
	color: $clr-sec3;
	background: $clr-pri1;
	border: none; }

.btn-default:hover {
	color: $clr-sec3;
	background: $clr-pri1-sha1; }
