@import url(http://fonts.googleapis.com/css?family=Exo+2:700,700italic,600,600italic,400,400italic);

/* ----- Headings ----- */

$text-xxxl: 8em;
$text-xxl:4.5em;
$text-xl: 2.2em;
$text-l: 	1.5em;
$text-m: 	1.2em;
$text-s: 		1em;
$text-xs:0.85em;
$text-xxs:0.7em;

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
	color: $clr-sec1;
	margin-bottom: $dist-m; }

h1 {
	font-size: $text-xxl;
	letter-spacing: 4px; }

h2 {
	font-size: $text-xl;
	font-weight: 600; }

h2, h3 {
	font-style: italic; }

h3 {
	font-size: $text-l;
	font-weight: 600; }

h4 {
	font-size: $text-m; }

h5 { font-size: $text-s; }

h6 { font-size: $text-xs; }

p, a {
	font-size: $text-s; }

p {
	color: $clr-sec1;
	line-height: 1.7em; }

blockquote {
	border: none; }

blockquote p {
	font-size: 2em;
	font-style: italic; }

cite {
	font-weight: 400;
	font-size: $text-xs;
	color: $clr-sec2; }