/* ----- Næste højskole & Tilmelding ----- */

.nhojsktilm {
	padding-top: $dist-xl;
	background: $clr-sec3;
	position: relative; }

.row-nhojsktilm_intro h3 {
	margin-top: $dist-l; }

.whitebox-nhojsktilm {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 37%;
	background: #fff; }

.nhojsktilm_tilm {
	position: absolute;
	top: 190px;
 	background: $clr-pri2;
	padding-top: $dist-xl;
	padding-bottom: $dist-xxl; }

.form-nhojsktilm h3 { margin-bottom: $dist-m; }

.form-nhojsktilm h3,
.form-nhojsktilm p {
	color: $clr-sec3; }

.form-nhojsktilm label {
	color: $clr-sec3; }

.btn-program {
	background: $clr-pri1;
	@include marg-top-btm($dist-l); }

.btn-program:hover {
	background: $clr-pri1-sha1; }

.logo-nhojsktilm {
	display: block;
	width: 100px; }

.btn-tilmeld {
	background: $clr-pri2-sha1; }

.btn-tilmeld:hover {
	background: $clr-pri2-sha2; }
