/* ----- Colors ----- */

$clr-pri1:	#ff5000;
$clr-pri1-rgba1:	rgba(255,80,0,0.66);
$clr-pri2:	#3caa8c;
$clr-pri2-rgba1:	rgba(60,170,140,0.8);

$clr-pri1-sha1: #bf3c00;
$clr-pri2-sha1: #256956;

$clr-pri2-sha2:	#0e2921;

$clr-sec1: #32281e;
$clr-sec2: #b4aaa0;
$clr-sec3: #faf5f0;
$clr-sec3-rgba1:	rgba(250,245,240,0.6);
$clr-sec3-rgba2:	rgba(250,245,240,0.95);

$clr-sec1-sha1: #000000;
$clr-sec2-sha1: #8f877f;
$clr-sec3-sha1: #d7d2cd;