@import url(http://fonts.googleapis.com/css?family=Exo+2:700,700italic,600,600italic,400,400italic);

/* ----- Headings ----- */

$text-xxxl: 8em;
$text-xxl:4.5em;
$text-xl: 2.2em;
$text-l: 	1.5em;
$text-m: 	1.2em;
$text-s: 		1em;
$text-xs:0.85em;
$text-xxs:0.7em;

h1, h2, h3, h4, h5, h6 {
	color: $clr-sec1;
	margin-bottom: $dist-m; }

h1 {
	font-size: $text-xxl; }

h2 {
	font-size: $text-xl;
	font-weight: 600; }

h2, h3 {
	font-style: italic; }

h3 {
	font-size: $text-l; }

h4 {
	font-size: $text-m; }

h5 { font-size: $text-s; }

h6 { font-size: $text-xs; }

p, a {
	font-size: $text-s; }

p {
	color: $clr-sec1;
	line-height: 1.7em; }

blockquote {
	border: none; }

blockquote p {
	font-size: 1.1em;
	font-style: italic;
	line-height: 1.4em; }

cite {
	font-weight: 300;
	font-size: $text-xxs;
	color: $clr-sec1; }

@media (max-width: 768px) {
	h1 { font-size: $text-xxl - 1.5em; font-weight: 600;}
	h2 { font-size: $text-xl - 0.3em; line-height: 1.3em; }
	h3 { font-size: $text-l - 0.3em; 	line-height: 1.3em; font-weight: 600; }
	h4 { font-size: $text-m - 0.2em; 	line-height: 1.3em; }
	blockquote p { font-size: 0.9em; } }

@media (max-width: 500px) {
	h1 { font-size: $text-xxl - 2em; }}





