/* ----- Footer ----- */

footer {
	background: $clr-pri2;
	@include pad-top-btm($dist-m); }

footer .form { @include pad-top-btm($dist-xl); }

footer .form h2 {
	color: $clr-sec3;
	padding-left: 15px; }

footer .form-control { margin-bottom: $dist-m; }

footer .help-block { margin-bottom: $dist-m; }

// Nederste del af footer
.footer-btm {
	padding: $dist-m;
	width: 100%;
	display: flex;
	@include justify-content(space-between);
	@include align-items(flex-end); }

.footer-btm li,
.footer-btm li i,
.footer-btm h4 {
	color: $clr-pri2-sha1; }

.footer-btm-left {
  padding-left: $dist-l; }

.footer-btm-center h4 {
	text-align: center;
	margin-bottom: 4px; }

.footer-btm-center li img {
	width: 20%;
	margin-left: 40%;
	margin-bottom: $dist-m; }

.footer-btm-right {
	display: flex;
	padding-right: $dist-l; }

.footer-btm-right li {
	position: relative;
	font-size: $text-l;
	@include marg-left-rgt($dist-m); }

.footer-btm-right li i {
	position: relative; }

@media (max-width: 880px) {
	.footer-btm-left { padding-left: 0; }
	.footer-btm-right { padding-right: 0; }}

@media (max-width: 768px) {
	.footer-btm {
		@include flex-direction(column);
		@include align-items(center);
		height: 400px; }

	.footer-btm-left { order: 1; }
	.footer-btm-left li { text-align: center; }
	.footer-btm-right { order: 2; }
	.footer-btm-center { order: 3; }}