/* ----- LH-Fællesskabet ----- */

section.faelskab {
	padding-top: $dist-xxxl + $dist-xl; }

.faelskab h2 {
	width: 100%;
	text-align: center;
	margin-bottom: $dist-l; }

.faelskab h4 {
	text-align: right;
	padding-top: 70px; }

.faelskab_billeder {
	display: flex;
	justify-content: center;
	margin-bottom: $dist-l; }

.faelskab_billeder li:first-child,
.faelskab_billeder li:first-child:after {
	border-top-left-radius: $dist-s;
	border-bottom-left-radius: $dist-s; }

.faelskab_billeder li:last-child,
.faelskab_billeder li:last-child:after {
	border-top-right-radius: $dist-s;
	border-bottom-right-radius: $dist-s; }

.faelskab_billeder li {
	position: relative;
	cursor: pointer;
	overflow: hidden; }

.faelskab_billeder li img {
	width: 100%; }

.faelskab_billeder li:after {
  content: '';
  white-space: pre; // Muliggør line-break i content med '\A'
  position: absolute;
  width: 100%; height: 100%;
  top: 50px; left: 0;
  background: $clr-pri1-rgba1;
	color: $clr-sec3;
	font-size: $text-m;
	line-height: 1.2em;
	text-align: center;
	padding-top: 0;
  opacity: 0;
  transition: all 0.5s; }

.faelskab_billeder li:hover:after {
  opacity: 1;
  top: 0;
  padding-top: 60%; }

.lh-gruppen li:nth-child(1):after {
	content: 'Dennis\A Rasmussen'; }
.lh-gruppen li:nth-child(2):after {
	content: 'Claus\A Dahl'; }
.lh-gruppen li:nth-child(3):after {
	content: 'Ole\A Dissing'; }
.lh-gruppen li:nth-child(4):after {
	content: 'Jens\A Larsen'; }
.lh-gruppen li:nth-child(5):after {
	content: 'Carsten\A Reves'; }

.adv-board li:nth-child(1):after {
	content: 'Ole\A Pedersen'; }
.adv-board li:nth-child(2):after {
	content: 'Lisbet\A Lentz'; }
.adv-board li:nth-child(3):after {
	content: 'Lars\A Holten'; }
.adv-board li:nth-child(4):after {
	content: 'Kommer...'; }
.adv-board li:nth-child(5):after {
	content: 'Kommer...'; }

.btn-medlemmer {
	background: $clr-sec2; }

.btn-medlemmer:hover {
	background: $clr-sec2-sha1; }
