/* ----- Tidliger Højskoler ----- */

// Timeline-nav
.tidlhoj {
	position: relative;
	background: $clr-sec1;
	padding-top: $dist-xl + $dist-l;
	@include pad-top-btm($dist-xl); }

.tidlhoj-beskr {
	position: relative; }

.tidlhoj-nav {
	margin-bottom: $dist-l; }

.tidlhoj-nav h1 {
	margin-bottom: -$dist-m - $dist-s;
	color: $clr-sec3;
	width: 100%; // Fjern disse to og uncomment oppe ved,
	text-align: center; } // tidlhoj-nav, hvis pile skal med

// Timeline
.tidlhoj-timeline-wrap {
	padding: 0; }

.tl-punkt {
	fill: $clr-sec3;
  cursor: pointer;
  r: 10;
  @include animation(transl 4s ease-in infinite); // Call for action [Bourbon]
  }

.tl-punkt:hover {
	@include animation(0);
	r: 14; }

@include keyframes(transl) { // [Bourbon]
    0% 		{ r: 10; }
   	25% 	{ r: 12; }
    50% 	{ r: 10; }
    75% 	{ r: 8; }
    100% 	{ r: 10; } }

.tl-streg {
	stroke: $clr-sec3;
	stroke-width: 4; }

// Beskrivelse af enkelt tidligere højskole
.tidlhoj-beskr {
	position: relative;
	@include pad-top-btm($dist-xl); }

.tidlhoj-beskr-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	z-index: -100;
	background: $clr-pri2; }

.tidlhoj-beskr h2, // Overskrift
.tidlhoj-beskr h5, // Dato
.tidlhoj-beskr p { // Tekst
  color: $clr-sec3; }

.tl-p-future-headline { // Standalone headline for fremtidige højskoler
	margin-bottom: $dist-xl;	}

.tidlhoj-beskr h3 { // Sted
	font-style: normal;
	color: $clr-pri1;
	font-weight: 400; }

.btn-dokushop {
	margin-top: $dist-l;
	color: $clr-pri1;
	background: rgba(0,0,0,0);
	border: 2px solid $clr-sec3 }

.btn-dokushop:hover {
	color: $clr-pri1;
	background: $clr-sec3; }

.tl-p1-cont,
.tl-p3-cont,
.tl-p1-contpic,
.tl-p3-contpic,
.tl-p1-contpic-overl,
.tl-p3-contpic-overl {
	display: none; }

.tidlhojsk-beskr_bodyc {
	padding-top: $dist-xxl; }

.tidlhojsk-beskr_citat-kilde {
	display: block;
	margin-top: $dist-s;
	color: $clr-pri1; }

// Billede
.tidlhoj-pic_overlay {
	position: absolute;
	top: $dist-xl;
	left: 0;
	width: calc(58.33333% - 64px);
	height: calc(100% - 128px);
	z-index: -5;
	background: $clr-sec1-rgba1;
	border-top-right-radius: $dist-s;
	border-bottom-right-radius: $dist-s; }

.tidlhoj-pic {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	z-index: -10; }

@media (max-width: 992px) {
	.tidlhoj-pic_overlay { width: calc(91.66666% - 64px); }
	.tidlhojsk-beskr_bodyc { padding-top: $dist-xxxl; } }

@media (max-width: 767px) {
	.tidlhojsk-beskr_bodyc { padding-top: $dist-l; margin-left: 15px; } }

@media (max-width: 440px) {
	.tidlhoj-pic_overlay { width: calc(100% - 64px); } }


