/* ----- Intro ----- */

.intro {
	background: url(images/mark.jpg) no-repeat center;
	background-size: cover;
	padding-top: $dist-xl + $dist-l + $dist-m;
	padding-bottom: $dist-xxxl; }

.row-intro img {
	position: relative;
	display: block;
	width: 56px;
	margin: 0 auto;
	padding-bottom: $dist-s; }

.row-intro h1,
.row-intro h3,  {
	text-align: center;
	color: $clr-sec1; }

.row-intro h1 {
	letter-spacing: 1px;
	margin-bottom: $dist-s; }

.row-intro h3 {
	margin: 0 auto; }

@media (max-width: 720px) {
	.row-intro img { width: 48px; }}

@media (max-width: 500px) {
	.row-intro img { width: 42px; }
	.row-intro h3 { width: 260px; }}